<!doctype html>
<html lang="en">
  <head>
    <title>Bookmarker</title>

    <script src="scripts/libs/firebase.js"></script>
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/libs/angularfire.min.js"></script>
    <script src="scripts/libs/angular-route.min.js"></script>
    <script src="scripts/libs/angular-animate.js"></script>
    <script src="scripts/libs/jquery-2.1.4.min.js"></script>
    <script src="scripts/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="scripts/libs/checklist-model.js"></script>
    <script src="scripts/libs/massautocomplete.js"></script>
    <script src="scripts/libs/angular-sanitize.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/home-screen.controller.js"></script>

    <link href="css/massautocomplete.theme.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">

  </head>

  <body>

    <div ng-app="Bookmarker" ng-controller="HomeScreenCtrl">
      <div ng-show="showHome" class="body-container home-container">
        <br />

        <!-- Share form -->
        <form ng-if="selectedBookmarks.length != 0" class="form-group" ng-submit="Share()" >
          <div mass-autocomplete>
            <div class="input-group">
              <span class="input-group-addon addon-search">Share with:</span></span>
              <input ng-model="shareInput.value" mass-autocomplete-item="autocomplete_share_options" class="form-control" placeholder="Type the name of a friend...">
            </div>
          </div>

          <div ng-if="selectedFriends.length != 0">
            <div class="bs-callout">
              <span ng-repeat="friend in selectedFriends">
                <label class="label label-default">{{friend.name}}</label>
              </span>
            </div>
            <div align="right">
              <button type="submit" class="btn btn-default btn-lg btn-share">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> SHARE
              </button>
            </div>
          </div>
        </form>



        <!--Search form-->
        <form ng-if="selectedBookmarks.length == 0" class="form-group" ng-submit="Search(searchName)" >
          <div class="input-group">
            <input type="text" class="form-control" ng-model="searchName" placeholder="Search for friends">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </form>

        <script type="text/ng-template" id="group-template.html">
          <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading">
              <h4 class="panel-title" style="color:#fa39c3">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                <span ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
              </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
              <div class="panel-body" style="text-align: right" ng-transclude></div>
            </div>
          </div>
        </script>

        <uib-accordion close-others="false">
          <!-- My Subscriptions -->
          <uib-accordion-group panel-class="panel-my-subscriptions"  is-open="my_subscriptions.open">
            <uib-accordion-heading ng-click="my_subscriptions.open = !my_subscriptions.open">
              My Subscriptions <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': my_subscriptions.open, 'glyphicon-chevron-right': !my_subscriptions.open}"></i>
            </uib-accordion-heading>
            Your Live feeds go here...
          </uib-accordion-group>

          <!-- Shared With Me -->
          <uib-accordion-group panel-class="panel-shared-with-me" is-open="shared_with_me.open">
            <uib-accordion-heading ng-click="shared_with_me.open = !shared_with_me.open">
              Shared With Me <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': shared_with_me.open, 'glyphicon-chevron-right': !shared_with_me.open}"></i>
            </uib-accordion-heading>
            Your Inbox of bookmarks are here...
          </uib-accordion-group>

          <!-- My Bookmarks -->
          <uib-accordion-group panel-class="panel-my-bookmarks" is-open="my_bookmarks.open">
            <uib-accordion-heading ng-click="my_bookmarks.open = !my_bookmarks.open">
              My Bookmarks <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': my_bookmarks.open, 'glyphicon-chevron-right': !my_bookmarks.open}"></i>
            </uib-accordion-heading>
            <button ng-if="mybookmarks == null" type="button" class="btn btn-default btn-sm" ng-click="copyBookmarksFromChrome()">Sync Local Bookmarks!</button>
            <div ng-repeat="bookmark in mybookmarks">
                  <input type="checkbox" checklist-model="selectedBookmarks" checklist-value="bookmark">
                  <a ng-click="OpenBookmarkLink(bookmark.url)">{{bookmark.title}}</a>
            </div>
            <button ng-click="addcurrentWindow()">+</button>
          </uib-accordion-group>
        </uib-accordion>
      </div>

      <!---->
      <!---->
      <!--PROFILE PAGE *** PROFILE PAGE *** PROFILE PAGE *** PROFILE PAGE *** PROFILE PAGE-->
      <!---->
      <!---->
      <div ng-show="showProfile" class="body-container home-container">

        <div style="width:100%">

          <img src="./images/backArrow.png" alt="Go back" ng-click="goBack()"
          style="width:60px; height:60px; padding-top:10px">
          <h3 align="right" style="float:right">{{profile.name}}</h3>
        </div>

        <div>
          <div align="center" style="margin-bottom:10px;">
            <img src="./images/bluehead.png" alt="Profile Picture" style="width:80px;height:80px;">
          </div>
            <button
            type="button" ng-click="updateAddButton()"
            class="btn btn-default btn-size49 btn-margin2 btn-add"
            style="color:white">
            {{addButton}}
          </button>
            <button
            type="button" ng-click="updateSubscribeButton()"
            class="btn btn-default btn-size49 btn-margin2 btn-add"
            style="color:white">
            {{subscribeButton}}
          </button>
          <h4>User's Live Feed</h4>
          <!--Pull live feed from db-->
        </div>
      </div>

      <div class="footer-container" align="center">
        <div class="row">
          Bookmarker
          <button type="button" class="btn btn-default btn-signout" ng-click="websiteRedirect()">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        </button>
          <button type="button" class="btn btn-default btn-signout" title="Sign out" ng-click="logout()">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
