<!doctype html>
<html lang="en">
  <head>
    <title>Bookmarker</title>

    <script src="scripts/libs/firebase.js"></script>
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/libs/angularfire.min.js"></script>
    <script src="scripts/libs/angular-route.min.js"></script>
    <script src="scripts/libs/angular-animate.js"></script>
    <script src="scripts/libs/jquery-2.1.4.min.js"></script>
    <script src="scripts/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="scripts/libs/checklist-model.js"></script>
    <script src="scripts/libs/massautocomplete.js"></script>
    <script src="scripts/libs/angular-sanitize.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/profile.controller.js"></script>

    <link href="css/massautocomplete.theme.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">

  </head>

  <body  ng-app="Bookmarker" ng-controller="ProfileCtrl" ng-init="loadButtons()">

    <div class="body-container">

      <div style="width:100%">
      <img src="./images/backArrow.png" alt="Go back" ng-click="goBack()"
      style="width:60px; height:60px; padding-top:10px">
      <h3 align="right" style="float:right">{{profile.name}}</h3>
    </div>

      <div>

          <div align="center" style="margin-bottom:10px;">
            <img src="./images/bluehead.png" alt="Profile Picture" style="width:80px;height:80px;">
          </div>
            <button
            type="button" ng-click="updateAddButton()"
            class="btn btn-default btn-size49 btn-margin2 btn-add"
            style="color:white">
            {{addButton}}
          </button>
            <button
            type="button" ng-click="updateSubscribeButton()"
            class="btn btn-default btn-size49 btn-margin2 btn-add"
            style="color:white">
            {{subscribeButton}}
          </button>
          <!--<h4>User's Live Feed</h4>-->
          <!--Pull live feed from db-->
      </div>
    </div>

  </body>
</html>
