<!doctype html>
<html lang="en">
  <head>
    <title>Bookmarker - Account Dashboard</title>
    <link rel="stylesheet" type="text/css" href="general.css">

    <script src="libs/firebase.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angularfire.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-animate.js"></script>
    <script src="libs/jquery-2.1.4.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="app.js"></script>
    <script src="dashboard.controller.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="general.css" rel="stylesheet">
  </head>

  <body ng-app="Bookmarker" ng-controller="DashboardCtrl">
    <div class="bookmarkerheader-container">
      <h1>Bookmarker</h1>
      <a id="Home"></a>
    </div>
    <div class="body-container">
      <div align="center" style="margin-bottom:10px;">
        <img src="images/bluehead.png" alt="Profile Picture" style="width:80px;height:80px;margin:10px">
      </div>
      <form class="form-group" ng-submit="createAccount()" action="" method="post" enctype="multipart/form-data">
<div class="col-xs-9">
        <input type="text" class="form-control" ng-model="name" placeholder="Name"/>
      </div>
      <div class="col-xs-9">
        <input type="text" class="form-control" ng-model="email" placeholder="Email"/>
</div>

        <h5 style="clear:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change profile picture</h5>
        <input type="file" name="profilePicture" size="40">

        <br />
        <div align="right">
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="button" ng-click="updateProfile()" class="btn btn-success">Save Changes</button>
        </div>
      </form>
    </div>
  </body>
  </html>
