<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <title>Bookmarker - Account Dashboard</title>
    <link rel="stylesheet" type="text/css" href="general.css">

    <script src="libs/firebase.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angularfire.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-animate.js"></script>
    <script src="libs/jquery-2.1.4.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="app.js"></script>
    <script src="dashboard.controller.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="general.css" rel="stylesheet">
  </head>

  <body ng-app="Bookmarker" ng-controller="DashboardCtrl" style = "padding-top: 0%;">
    <div class="dashboardheader-container" style="padding-top 0%;">
        <h1><img src="images/Icon2.png" alt="logo" style = "width: 50px; height: 50px;">
          <font style= "font-family: Eras Light ITC" size= "5">
          Bookmarker</font></h1>
      <a id="Home"></a>
    </div>

    <div class = "signout-container">
      <ul>
      <a href = "homepage.html"><font color="black" style="font-family:Eras Light ITC" size ="4">
        Log Out</font></a>
      </ul>
    </div>

    <div class="body-container" style = "padding-top: 3%;" >
        <div class = "seperator"></div>
      <div class="col-xs-9">
        <h2> Profile Settings</h2>
        <div align="center" style="margin-bottom:10px;">
          <img src="images/bluehead.png" alt="Profile Picture" style="width:80px;height:80px; margin:10px">
        </div>

        <h5 style="clear:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change profile picture</h5>
        <input type="file" name="profilePicture" size="40" style = "margin-bottom: 5%">

      </div>

      <form class="form-group" ng-submit="createAccount()" action="" method="post" enctype="multipart/form-data">
        <div class="col-xs-9">
        <input type="text" class="form-control" ng-model="name" placeholder="Name"/>
      </div>
      <div class="col-xs-9">
        <input type="text" class="form-control" ng-model="email" placeholder="Email"/>
      </div>

      <div class="col-xs-9">
        <input type="text" class="form-control" ng-model="password" placeholder="Password">
        <input type ="button" ng-click="changePassword()" value = "Change Password"/>
        <input type = "text" class = "form-control" ng-if = "showForm" ng-model = "password" placeholder = "New Password"/>
        <input type = "text" class = "form-control" ng-if = "showForm" ng-model = "password" placeholder = "Confirm Password"/>
      </div>

      <div class="col-xs-9" style = "margin-top: 4% margin-bottom: 5%">
        <h2> Notification Settings </h2>
        <label>
        <input type = "radio" name = "extensionNotification" size = "30" value = "inExtenstion">
        Send me notifications in the extension
      </label></br>
      <label>
        <input type = "radio" name = "extensionNotification" size = "30" value = "email">
        Send me notifications by e-mail
        </label></br>
        <label>
        <input type = "radio" name = "extensionNotification" size = "30" value = "both">
        Send me notifications through both extension and e-mail
        </label></br>
    </div>
        <div class = "col-xs-9" align="right" style = "margin-top: 5%">
          <button type="button" ng-click="updateProfile()" class="btn btn-success">Save Changes</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </body>
  </html>
