html {
    background-image: url("background.png");
    background-color: black;
    margin: 7px 7px 7px 7px;
}

body {
    background-image: url("background.png");
    background-color: black;
    margin: 7px 7px 7px 7px;
    height: 5000px;
    width: 1275px;
}

h1 {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Harrington";
  font-size: 50px;
  padding-bottom: 0px;
  padding-left: 100px;
}

.body-container {
  clear:left;
  background-color: rgba(255, 255, 255, 0.85);
  margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 5000px;
}

.bookmarkerheader-container {
  text-align:left;
  margin-bottom:0px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0);
  float:left;
}

.navbar-container {
  float:left;
  text-align:right;
  margin-left:-30px;
  margin-top: 30px;
  margin-bottom:0px;
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-container a{
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visted {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.accountmanagement-container {
  float:right;
  text-align:left;
  margin:none;
  bacground-image:url("background.png");
  /*background-color: rgb(0, 0, 0);*/
  padding-bottom:0px;
  padding-left:0px;
  padding-right: 10px;
  margin-left: none;
}

.accordionItem h2
{
  /*margin: 0;*/
  margin-left: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
  font-size: 1.1em;
  padding: 0.4em;
  color: #fff;
  /*background-color: rgb(0, 140, 190);*/
  background-color: rgb(204, 204, 0);
  border-bottom: 1px solid #66d;
}

.accordionItem h2:hover
{
  cursor: pointer;
}

.accordionItem div
{
  /*margin: 0;*/
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-top:0px;
  padding: 3px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #66d;
}

.accordionItem.hide h2
{
  color: #eef;
  background-color:rgb(0, 140, 190);
}

.accordionItem.hide div
{
  display: none;
}

.h5-narrow {
  font-family: "Arial Narrow", Tahoma;
  font-size: 16px;
  text-align: center;
}

.btn-fullSize {
  width: 100%;
}

.btn-halfSize {
  width: 50%;
}

.btn-size49 {
  width: 49%;
}

.btn-signin {
  background-color: rgb(200, 0, 0);;
  border-color: gray;
  color: white;
}

.btn-google {
  background-color: rgb(60, 60, 60);;
  border-color: gray;
  color: white;
  width: 49%;
}

.btn-facebook {
  background-color: rgb(0, 100, 150);;
  border-color: gray;
  color: white;
}

.btn-margin2 {
  margin-bottom: 2px;
  margin-top: 2px;
}
