html {
    background-color: white;
    margin: 0px 0px 0px 0px;
}

body {
    background-color: white;
    margin: 0%;
    height: 5000px;
    width: 100%;
    overflow-x:hidden;
}

h1 {
  max-width:100%;
  color: rgba(0, 0, 0);
  font-family: "Eras Light ITC";
  font-size: 50px;
  padding-bottom: 0px;
  padding-left: 100px;
}

.h1 img {
  float: left;
  width: 100px;
  height: 100px;
}

h2{
  padding-top:5%;
  font-family: "Eras Light ITC";
}

.seperator{
  background-color: black;
  max-width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.seperator-white{
  background-color: white;
  max-width: 100%;
  padding-top: 15%;
  padding-bottom: 7%;
}

.body-container {
  clear:left;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 0%;
  padding: 0%;
  max-width: 100%;
  height: 5000px;
}

.bookmarkerheader-container {
  text-align:left;
  margin-bottom:0px;
  padding-right: 3%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0);
  float:left;
}

.dashboardheader-container {
  text-align:left;
  margin-bottom:0px;
  width: 45%;
  height: 1%;
  background-color: rgba(255, 255, 255, 0);
  float:left;
}

.navbar-container {
  float:left;
  text-align:left;
  margin-left:-3%;
  margin-top: 3%;
  padding-left: 1%;
  padding-top: 2%;
  margin-right: 2%;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-container a{
  text-decoration: none;
}

.signin-container {
  background-color: rgba(255, 255, 255, 0.85);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  width: 50%;
  height: 10%;
}

.signout-container {
  float:right;
  width: 40%;
  text-align:right;
  padding-left: 20%;
  padding-top: 2%;
  margin-top: 1%;
  margin-bottom: 0%;
  margin-right: 2%;
  background-color: rgba(255, 255, 255, 0);
}


a:link {
  text-decoration: none;
}

a:visted {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.accountmanagement-container {
  float:right;
  text-align:right;
  margin:none;
  bacground-image:url("background.png");
  padding-right: 1%;
  margin-left: none;
  width:100%;
}

.accordionItem h2
{
  /*margin: 0;*/
  margin-left: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
  font-size: 1.1em;
  padding: 0.4em;
  color: #fff;
  /*background-color: rgb(0, 140, 190);*/
  background-color: rgb(204, 204, 0);
  border-bottom: 1px solid #66d;
}

.accordionItem h2:hover
{
  cursor: pointer;
}

.accordionItem div
{
  /*margin: 0;*/
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-top:0px;
  padding: 3px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #66d;
}

.accordionItem.hide h2
{
  color: #eef;
  background-color:rgb(0, 140, 190);
}

.accordionItem.hide div
{
  display: none;
}

.h5-narrow {
  font-family: "Arial Narrow", Tahoma;
  font-size: 16px;
  text-align: center;
}

.btn-fullSize {
  width: 100%;
}

.btn-halfSize {
  width: 50%;
}

.btn-size49 {
  width: 49%;
}

.btn-size20{
  width: 30%;
  height: 5%;
}

.btn-dlnow{
  position: relative;
  top: 50%;
}

.btn-signin {
  background-color: rgb(200, 0, 0);;
  border-color: gray;
  color: white;
}

.btn-google {
  background-color: rgb(60, 60, 60);;
  border-color: gray;
  color: white;
  width: 49%;
}

.btn-facebook {
  background-color: rgb(0, 100, 150);;
  border-color: gray;
  color: white;
}

.btn-margin2 {
  margin-bottom: 2px;
  margin-top: 2px;
}
