<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <title>Bookmarker</title>

    <script src="libs/firebase.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angularfire.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-animate.js"></script>
    <script src="libs/jquery-2.1.4.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="app.js"></script>
    <script src="homepage.controller.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="general.css" rel="stylesheet">

  </head>

  <body ng-app="Bookmarker" ng-controller="homepageCtrl">
<!--div section for create account and sign in buttons-->
<div style="width:100%">
  <div class="accountmanagement-container">
    <ul>
      <a href="createAccountPage.html"><font color="black" style="font-family:Eras Light ITC" size = "4">Create an account</font></a>
      <font color="black" style="font-family:Eras Light ITC" size ="4">&nbsp;&nbsp;or&nbsp;&nbsp;</font>
      <a href="signInPage.html"><font color="black" style="font-family:Eras Light ITC" size ="4">Want to manage your account?&nbsp; Log in</font></a>
      </ul>
    </div>
  </div>

  <!--Title div section-->
      <div class="bookmarkerheader-container">
        <h1><img src="images/Icon2.png" alt="logo"><font style= "font-family: Eras Light ITC">Bookmarker</font></h1>
        <a id="Home"></a>
      </div>
  <!--Navigation Bar-->
  <div class="navbar-container">
      <ul>
        <a href="#GettingStarted"><font color="black" style="font-family:Eras Light ITC" size = "5">Download</font></a>
      </ul>
    </div>
    <div class="navbar-container">
        <ul>
          <a href="#HowItWorks"><font color="black" style="font-family:Eras Light ITC" size = "5">Learn to Use</font></a>
        </ul>
      </div>
    <div class="navbar-container">
        <ul>
      <a href="#FAQ"><font color="black" style="font-family:Eras Light ITC" size = "5">FAQ</font></a>
    </ul>
  </div>
  <div class="navbar-container">
      <ul>
      <a href="#AboutUs"><font color="black" style="font-family:Eras Light ITC" size = "5">About Us</font></a>
    </ul>
  </div>

  <!--Body container displays gray box-->
    <div class="body-container">
      <div class = "seperator"></div>
  <!--Breakdown of each "page" section-->
  <!--Page 1-->
  <div id="Page1">
    <a id="GettingStarted"></a>

    <center><div style="background-image: url(images/flower.jpg);
        margin-top:2%; height:600px; width: 80%;">
    <button type="button" class="btn btn-danger btn-size20 btn-margin2 btn-dlnow"
    ng-click="downloadExtension()">Download Now</button>
  </div></center>
  <div class = "seperator-white">
    <p style="font-family:Eras Light ITC" color = "rgb(150,150,150);"><font size = "10">
      "Sharing your favorites easily." </font></p>
  </div>
  <div class = "seperator"></div>
   <h2 style="font-family:Eras Light ITC"><font size = "6">Getting Started</font></h2>
   <p style="font-family:Eras Light ITC"><font size = "5">
     Mark your favorite links.
     Share with friends, and have them share with you.</font></p>
    <a href="#Home" style ="text-decoration:none;font-family:Eras Light ITC">Go back to top
    </a>
  </div>

  <!--Page 2-->
  <div id="Page2">
    <a id="HowItWorks"></a>
    <h2 style="font-family:Eras Light ITC">Learn To Use Bookmarker</h2>
    <a href="#Home" style ="text-decoration:none;font-family:Eras Light ITC">Go back to top</a>
  </div>

  <!--Page 3-->
  <div id="Page3" style="background-color: rgba(204, 255, 204, 0.3)">
    <a id="FAQ"></a> <!--NEEDS MAJOR STYLE/DESIGN HELP, just getting content onto the page!-->
    <h2 style="font-family:Lucida Sans Unicode; text-align:center" >Frequently Asked Questions</h2>

    <!--start accordion trial-->
    <h3 style="font-family:Lucida Sans Unicode; margin-left:5px">Getting Started</h3>
    <!--Angular accordion trial-->
    <uib-accordion close-others="true">

      <uib-accordion-group panel-class="panel-Extensions"  is-open="Extensions.open">
        <uib-accordion-heading ng-click="Extensions.open = !Extensions.open">
          I'm not familiar with Google Extensions, how can I get Bookmarker running? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': Extensions.open, 'glyphicon-chevron-right': !Extensions.open}"></i>
        </uib-accordion-heading>
        You can easily download the extension from our website's homepage. The extension is also available from Google Chrome's collection of extensions.
      </uib-accordion-group>

      <uib-accordion-group panel-class="panel-liveFeed"  is-open="liveFeed.open">
        <uib-accordion-heading ng-click="liveFeed.open = !liveFeed.open">
          What is a live feed? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': liveFeed.open, 'glyphicon-chevron-right': !liveFeed.open}"></i>
        </uib-accordion-heading>
        A live feed is a place for you to share and see the latest and hottest links. The live feed is meant
    to filled with current and interesting links users would like to share with everyone.
      </uib-accordion-group>

      <h3 style="font-family:Lucida Sans Unicode; margin-left:5px">Account Management</h3>
      <uib-accordion-group panel-class="panel-settings"  is-open="settings.open">
        <uib-accordion-heading ng-click="settings.open = !settings.open">
          How can I manage my account settings from within the extension? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': settings.open, 'glyphicon-chevron-right': !settings.open}"></i>
        </uib-accordion-heading>
        You can manage your account by clicking on the settings button at the
    bottom of the home screen. You will be redirected to the Bookmarker.com website, where you can manage your account.
      </uib-accordion-group>

      <h3 style="font-family:Lucida Sans Unicode; margin-left:5px">Editing Bookmarks</h3>
      <uib-accordion-group panel-class="panel-delete"  is-open="delete.open">
        <uib-accordion-heading ng-click="delete.open = !delete.open">
          How can I delete multiple links at one time? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': delete.open, 'glyphicon-chevron-right': !delete.open}"></i>
        </uib-accordion-heading>
        To delete multiple links, simply select the links to be deleted by checking the corresponding boxes and
      click on the trash can at the bottom of the page.
      </uib-accordion-group>

      <uib-accordion-group panel-class="panel-edit"  is-open="edit.open">
        <uib-accordion-heading ng-click="edit.open = !edit.open">
          How can I edit a bookmark? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': edit.open, 'glyphicon-chevron-right': !edit.open}"></i>
        </uib-accordion-heading>
        Editing bookmarks is easy with Bookmarker. Simply click on the edit button (insert small button image?)
    corresponding to the bookmark you want to edit. A popup will appear where you can rename the bookmark.
      </uib-accordion-group>
  <!--End accordion trial-->

    <a href="#Home" style ="text-decoration:none;font-family:Lucida Sans Unicode">Go back to top</a>
  </div>
  <!--Page 4-->
  <div id="Page4">
    <a id="AboutUs"></a>
    <h2 style="font-family:Century Gothic">About Us</h2>
    <a href="#Home" style ="text-decoration:none;font-family:Century Gothic">Go back to top</a>
    </div>


  <!--JQuery Code from site for smooth scrolling....I don't really think it works-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>
  <script>
  $('.smooth').on('click', function() {
    $.smoothScroll({
        scrollElement: $('body'),
        scrollTarget: '#' + this.id
    });

    return false;
  });
  </script>
  </body>
  </html>
