<!doctype html>
<html lang="en">
  <head>
    <title>Sign Into Bookmarker</title>

    <script src="libs/firebase.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angularfire.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-animate.js"></script>
    <script src="libs/jquery-2.1.4.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="app.js"></script>
    <script src="homepage.controller.js"></script>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="general.css" rel="stylesheet">

  </head>

  <body ng-app="Bookmarker" ng-controller="homepageCtrl">
<!--div section for create account and sign in buttons-->
<div style="width:100%">
  <div class="accountmanagement-container">
    <ul>
      <a href="createAccountPage.html"><font color="white" style="font-family:Century Gothic" size = "3">Create an account</font></a>
      <font color="white" style="font-family:Century Gothic">&nbsp;Or&nbsp;</font>
      <a href="signInPage.html"><font color="white" style="font-family:Century Gothic" size ="3">Sign-in!</font></a>
      </ul>
    </div>
  </div>

  <!--Title div section-->
      <div class="bookmarkerheader-container">
        <h1>Bookmarker</h1>
        <a id="Home"></a>
      </div>
  <!--Navigation Bar-->
  <div class="navbar-container">
      <ul>
        <a href="#GettingStarted"><font color="white" style="font-family:Century Gothic" size = "6">Getting Started</font></a>
      </ul>
    </div>
    <div class="navbar-container">
        <ul>
          <a href="#HowItWorks"><font color="white" style="font-family:Century Gothic" size = "6">How It Works</font></a>
        </ul>
      </div>
    <div class="navbar-container">
        <ul>
      <a href="#FAQ"><font color="white" style="font-family:Century Gothic" size = "6">FAQ</font></a>
    </ul>
  </div>
  <div class="navbar-container">
      <ul>
      <a href="#AboutUs"><font color="white" style="font-family:Century Gothic" size = "6">About Us</font></a>
    </ul>
  </div>

  <!--Body container displays gray box-->
    <div class="body-container">
  <!--Breakdown of each "page" section-->
  <!--Page 1-->
  <div id="Page1">
    <a id="GettingStarted"></a>
    <h2 style="font-family:Century Gothic">Getting Started Page</h2>
    <div style="background-image: url(images/flower.jpg);
        height: 600px; width: 1600px; border: 1px solid white;">
    <button type="button" class="btn btn-danger btn-size20 btn-margin2 btn-dlnow"
    ng-click="downloadExtension()">Download Now</button>
   </div>
    <a href="#Home" style ="text-decoration:none;font-family:Century Gothic">Go back to top
    </a>
  </div>

  <!--Page 2-->
  <div id="Page2">
    <a id="HowItWorks"></a>
    <h2 style="font-family:Century Gothic">How It Works</h2>
    <a href="#Home" style ="text-decoration:none;font-family:Century Gothic">Go back to top</a>
  </div>

  <!--Page 3-->
  <div id="Page3" style="background-color: rgba(204, 255, 204, 0.3)">
    <a id="FAQ"></a> <!--NEEDS MAJOR STYLE/DESIGN HELP, just getting content onto the page!-->
    <h2 style="font-family:Lucida Sans Unicode; text-align:center" >Frequently Asked Questions</h2>





    <!--start accordion trial-->
    <h3 style="font-family:Lucida Sans Unicode; margin-left:5px">Getting Started</h3>
    <!--Angular accordion trial-->
    <uib-accordion close-others="true">
      <!-- My Subscriptions -->
      <uib-accordion-group panel-class="panel-my-subscriptions"  is-open="my_subscriptions.open">
        <uib-accordion-heading ng-click="my_subscriptions.open = !my_subscriptions.open">
          I'm not familiar with Google Extensions, how can I get Bookmarker running? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': my_subscriptions.open, 'glyphicon-chevron-right': !my_subscriptions.open}"></i>
        </uib-accordion-heading>
        You can easily download the extension from our website's homepage. The extension is also available from Google Chrome's collection of extensions.
      </uib-accordion-group>

      <uib-accordion-group panel-class="panel-my-subscriptions"  is-open="my_subscriptions.open">
        <uib-accordion-heading ng-click="my_subscriptions.open = !my_subscriptions.open">
          What is a live feed? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': my_subscriptions.open, 'glyphicon-chevron-right': !my_subscriptions.open}"></i>
        </uib-accordion-heading>
        A live feed is a place for you to share and see the latest and hottest links. The live feed is meant
    to filled with current and interesting links users would like to share with everyone.
      </uib-accordion-group>

      <div class="accordionItem">
        <h2 style="font-family:Lucida Sans Unicode; font-size:16px">I'm not familiar with Google Extensions, how can I get Bookmarker running?</h2>
        <div>
          <p style="font-family:Lucida Sans Unicode; font-size:14px">You can easily download the extension from our website's homepage. The extension is also available from Google Chrome's collection of extensions.</p>
        </div>
      </div>

      <div class="accordionItem">
        <h2 style="font-family:Lucida Sans Unicode; font-size:16px">What is a live feed?</h2>
        <div>
          <p style="font-family:Lucida Sans Unicode; font-size:14px">A live feed is a place for you to share and see the latest and hottest links. The live feed is meant
      to filled with current and interesting links users would like to share with everyone.</p>
        </div>
      </div>
      <h3 style="font-family:Lucida Sans Unicode; margin-left:5px">Account Management</h3>
      <uib-accordion-group panel-class="panel-my-subscriptions"  is-open="my_subscriptions.open">
        <uib-accordion-heading ng-click="my_subscriptions.open = !my_subscriptions.open">
          How can I manage my account settings from within the extension? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': my_subscriptions.open, 'glyphicon-chevron-right': !my_subscriptions.open}"></i>
        </uib-accordion-heading>
        Unfortunately, users can't currently manage their accounts from within the extension. Our team is working
    hard to add this feature. For now, you can manage your account by clicking on the settings button at the
    bottom of the home screen. You will be redirected to the Bookmarker.com website, where you can manage your account.
      </uib-accordion-group>
      <div class="accordionItem">
        <h2 style="font-family:Lucida Sans Unicode; font-size:16px">How can I manage my account settings from within the extension?</h2>
        <div>
          <p style="font-family:Lucida Sans Unicode; font-size:14px">Unfortunately, users can't currently manage their accounts from within the extension. Our team is working
      hard to add this feature. For now, you can manage your account by clicking on the settings button at the
      bottom of the home screen. You will be redirected to the Bookmarker.com website, where you can manage your account.</p>
        </div>
      </div>

      <h3 style="font-family:Lucida Sans Unicode; margin-left:5px">Editing Bookmarks</h3>
      <uib-accordion-group panel-class="panel-my-subscriptions"  is-open="my_subscriptions.open">
        <uib-accordion-heading ng-click="my_subscriptions.open = !my_subscriptions.open">
          How can I delete multiple links at one time? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': my_subscriptions.open, 'glyphicon-chevron-right': !my_subscriptions.open}"></i>
        </uib-accordion-heading>
        To delete multiple links, simply select the links to be deleted by checking the corresponding boxes and
      click on the trash can at the bottom of the page.
      </uib-accordion-group>
      
      <uib-accordion-group panel-class="panel-my-subscriptions"  is-open="my_subscriptions.open">
        <uib-accordion-heading ng-click="my_subscriptions.open = !my_subscriptions.open">
          How can I edit a bookmark? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': my_subscriptions.open, 'glyphicon-chevron-right': !my_subscriptions.open}"></i>
        </uib-accordion-heading>
        Editing bookmarks is easy with Bookmarker. Simply click on the edit button (insert small button image?)
    corresponding to the bookmark you want to edit. A popup will appear where you can rename the bookmark.
      </uib-accordion-group>
      <div class="accordionItem">
        <h2 style="font-family:Lucida Sans Unicode; font-size:16px">How can I delete multiple links at one time?</h2>
        <div>
          <p style="font-family:Lucida Sans Unicode; font-size:14px">To delete multiple links, simply select the links to be deleted by checking the corresponding boxes and
        click on the trash can at the bottom of the page.</p>
        </div>
      </div>
      <div class="accordionItem">
        <h2 style="font-family:Lucida Sans Unicode; font-size:16px">How can I edit a bookmark?</h2>
        <div>
          <p style="font-family:Lucida Sans Unicode; font-size:14px">Editing bookmarks is easy with Bookmarker. Simply click on the edit button (insert small button image?)
      corresponding to the bookmark you want to edit. A popup will appear where you can rename the bookmark.</p>
        </div>
      </div>
  <!--End accordion trial-->

    <a href="#Home" style ="text-decoration:none;font-family:Lucida Sans Unicode">Go back to top</a>
  </div>
  <!--Page 4-->
  <div id="Page4">
    <a id="AboutUs"></a>
    <h2 style="font-family:Century Gothic">About Us</h2>
    <a href="#Home" style ="text-decoration:none;font-family:Century Gothic">Go back to top</a>
    </div>


  <!--JQuery Code from site for smooth scrolling....I don't really think it works-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>
  <script>
  $('.smooth').on('click', function() {
    $.smoothScroll({
        scrollElement: $('body'),
        scrollTarget: '#' + this.id
    });

    return false;
  });
  </script>
  </body>
  </html>
