<!doctype html>
<html lang="en">
  <head>
    <script src="scripts/libs/firebase.js"></script>
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/libs/angularfire.min.js"></script>
    <script src="scripts/libs/angular-route.min.js"></script>
    <script src="scripts/libs/angular-animate.js"></script>
    <script src="scripts/libs/jquery-2.1.4.min.js"></script>
    <script src="scripts/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="scripts/app.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
  </head>
  <body>
    <h1 align="center">Bookmarker</h1>
    <div ng-app="Bookmarker" ng-controller="AccordionDemoCtrl">
      <script type="text/ng-template" id="group-template.html">
        <div class="panel {{panelClass || 'panel-default'}}">
          <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
              <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
                ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
            </h4>
          </div>
          <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
          </div>
        </div>
      </script>

      <p>
        <!--<button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>-->
      </p>

      <!--<div class="checkbox">
        <label>
          <input type="checkbox" ng-model="oneAtATime">
          Open only one at a time
        </label>
      </div>-->
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group heading="Live Feed" is-open="false">
          <uib-accordion-heading>
            Live Feed <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          Your Live feeds go here...
        </uib-accordion-group>
        <uib-accordion-group heading="Inbox" is-open="false">
          Your Inbox of bookmarks are here...
          <button type="button" class="btn btn-default btn-sm" ng-click="createTab()">CREATE A NEW TAB!</button>
        </uib-accordion-group>
        <uib-accordion-group heading="My Bookmarks" is-open="true">
          Each bookmark will go here.
          <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
          <div ng-repeat="item in items">{{item}}</div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </body>
</html>
